.grid-bg {
    
        width: 100%;
        height: 100%;
        background-color: #111111;
        background-image: linear-gradient(
          32deg,
          rgba(8, 8, 8, 0.74) 30px,
          transparent
        );
        background-size: 60px 60px;
        background-position: -5px -5px;
}
      

.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 80px;
      font-weight: 500;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}